.topbarContainer{
    height :50px;
    width : 100%;
    background-color:rgb(90, 214, 223);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft{
    flex:3;
}
.logo{
    font-size:24px ;
    margin-left :20px;
    font-weight:bold;
    color: white;
    cursor: pointer;  

}

.topbarCenter{
    flex:5;
 
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    align-items: center;

}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;

}
.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline:none;
}


.topbarRight{
    flex:4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;

}

.topbarIconsItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    color: black;

}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 10px;
  min-height: 30px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-left: 50px;
}

.button-24:hover,
.button-24:active {
  background-color: green;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}